footer{
    background-color: #373633;
    .footer-content{
        display: none;
    @media(min-width:1025px){
            display: flex;
            margin: auto;
            padding: 0;
            height: auto;
            .col{
             padding: 32px;
             padding-right: 10px;
                &:first-child{
                    border-left: 2px solid #3c3c3c;
                    border-right: 2px solid #3c3c3c;
                }
                &:last-child{
                 border-left: 2px solid #3c3c3c;
                }
            }
             .title{
              color: white;
              font-size: 24px;
              
             }
             .empty-title{
                 min-height: 32px;
                 margin: 0;
             }
             .nav-link{
                 color: gray;
                 font-size: 16px;
                 padding-left: 0;
                 &:hover , &.greenText{
                     color: yellowgreen;
                 }
             }
         }
    }
    .tablet-footer-content{
        display: flex;
        padding: 0;
        margin: 0;
        .MuiAccordionDetails-root{
            flex-wrap: wrap;
        }
        .MuiAccordion-rounded{
            background-color: #373633;
            padding-left: 0;
            .MuiSvgIcon-root{
                path{
                    color: white;
                }
            }
            .title{
                color: white;
            }
            .nav-link{
                color: gray;
                padding-left: 0;
                &.greenText {
                    color: yellowgreen !important;
                }
            }
        }
        @media (min-width:1025px) {
            display: none;
        }
    }

}
